#mu-horario {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  width: 100%;
}

.mu-area-horario {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-area-contenido-horario {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-menu-horario {
  text-align: center;
  border: none;
}

.mu-menu-horario li {
  float: none;
  display: inline-block;
}

.mu-menu-horario li a {
  border-radius: 0;
  margin: 0 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-menu-horario li a:hover,
.mu-menu-horario li a:focus,
.mu-menu-horario li.active a,
.mu-menu-horario li.active a:hover,
.mu-menu-horario li.active a:focus {
  color: #337ab7;
}

.mu-contenido-horario {
  margin-top: 50px;
}

.mu-linea-evento ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #ddd;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-linea-evento ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: inherit;
}

.mu-linea-evento ul li .mu-evento-individual {
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
  -moz-box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
  box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
  position: relative;
  top: 0;
  width: 400px;
  padding: 15px;
  text-align: left;
}

.mu-linea-evento ul li:nth-child(2n) .mu-evento-individual {
  left: 50px;
}

.mu-linea-evento ul li:nth-child(2n + 1) .mu-evento-individual {
  left: -450px;
  text-align: right;
}

.mu-linea-evento ul li .mu-evento-individual img {
  height: 80px;
  width: 80px;
  float: left;
  border-radius: 50%;
  margin-right: 15px;
}

.mu-linea-evento ul li:nth-child(2n + 1) .mu-evento-individual img {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.mu-linea-evento ul li .mu-evento-individual::before {
  content: "";
  position: absolute;
  top: 23px;
  width: 0;
  height: 0;
  border-style: solid;
}

.mu-linea-evento ul li:nth-child(2n + 1) .mu-evento-individual::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

.mu-linea-evento ul li:nth-child(2n) .mu-evento-individual::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.mu-linea-evento ul li .mu-evento-individual h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.mu-linea-evento ul li .mu-evento-individual p {
  margin-bottom: 5px;
}

.mu-linea-evento ul li .mu-evento-individual span {
  font-size: 12px;
}
