.calendario {
    width: 100%;
    border-collapse: collapse; /*Une las líneas de las celdas*/
}

.calendario th,     /*Aplica a filas y columnas*/
.calendario td {
    border: 1px solid #ccc;
    padding: 8px;
}



.calendario td.sin-sesion {         /* Estilos específicos para las celdas del calendario. Para esto tengo que modificar como crea las celdas */
    background-color: #4b4747dc;    
}

.calendario td.con-sesion {
    background-color: #eee5b2;
}

.calendario td.apuntado {
    background-color: #42dbc7;
}