.modal-dialog {
  background-color: rgb(220, 232, 239);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
  width: 80%; /* Ajusta el ancho del modal según lo necesites */
  max-width: 500px; /* Define el ancho máximo del modal */
}

.modal-title {
  text-align: center;
}

.modal-dialog label {
  font-weight: bold;
  display: block;
  text-align: left;
}

.modal-dialog .form-group {
  margin-bottom: 20px;
}

.modal-dialog .form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  transition: border-color 0.2s ease;
}

.modal-dialog .form-group input:focus {
  border-color: #007bff;
}

.modal-dialog .submit-button {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  width: 50%; /* Define el ancho de los botones según lo necesites */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button  {
  background-color: #0056b3;
}

.modal-close-button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  width: 30%; /* Define el ancho de los botones según lo necesites */
  background-color: #d38d65;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-close-button:hover {
  background-color: #a8734b; /* Color de fondo ligeramente más oscuro */
}