.header {
  position: relative;
  height: 50px; /* Ajusta según sea necesario */
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: inline-block;
  margin-left: 10px; /* Espacio entre elementos del menú */
}

.sidebar ul li a {
  text-decoration: none;
  color: #000; /* Color de texto */
}

.sidebar ul li a:hover {
  color: #ed0808; /* Color de texto al pasar el ratón */
}