body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.card {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.btn-container {
  text-align: center;
}

.btn {
  margin-right: 10px;
}
