<h1 class="profesores">Profesores</h1>
<div class="contenedor-tarjetas">
  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://st4.depositphotos.com/1049680/24741/i/450/depositphotos_247413228-stock-photo-young-handsome-man-wearing-casual.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Carlos Sánchez</h3>
      <h4>Instructor de Fitness</h4>
      <p>Fanático del fitness, motivador y apasionado por la salud.</p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK-pXfBH7QoeYqe5vflPuqsG0zGSDgVLiLPuaMZwWWNnPJXaanLA64MOcd1W7JX55hjCw&usqp=CAU"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>David García</h3>
      <h4>Entrenador Personal</h4>
      <p>
        Transformando vidas con entrenamientos personalizados y motivación
        constante.
      </p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://i.pinimg.com/236x/c0/de/d9/c0ded90793b6dd263a4bb3e3450d377a.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Miguel Martínez</h3>
      <h4>Entrenador de Musculación</h4>
      <p>
        Construyendo cuerpos fuertes y definidos con entrenamientos intensos.
      </p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://img.freepik.com/premium-photo/beautiful-woman-healthy-skin-beauty-face-cosmetic-concept_431835-8014.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Marta López</h3>
      <h4>Instructora de Yoga</h4>
      <p>Guía hacia la paz interior y la flexibilidad física.</p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>
</div>

<div class="contenedor-tarjetas">
  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://img.freepik.com/fotos-premium/atractiva-mujer-joven-que-encuentran-aisladas-sobre-pared-blanca-sonriendo_171337-91519.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Ana Martínez</h3>
      <h4>Instructora de Pilates</h4>
      <p>
        Fortaleciendo cuerpos y mentes con ejercicios precisos y concentración.
      </p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://img.freepik.com/fotos-premium/cuidado-piel-mujer-hermosa-modelo_935410-2857.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Laura Rodríguez</h3>
      <h4>Instructora de Aeróbicos</h4>
      <p>Energía contagiosa para alcanzar tus metas de cardio.</p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://i.pinimg.com/236x/77/d0/56/77d0561b10a9e4b145b836a3440b87ba.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Luis Fernández</h3>
      <h4>Entrenador de CrossFit</h4>
      <p>Desafiando límites y construyendo cuerpos fuertes y resilientes.</p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="encabezado">
      <div class="circulo"></div>
      <div class="imagen">
        <img
          src="https://i.pinimg.com/736x/12/ae/ca/12aeca2ec2e2f400a7a1d35da4fb205f.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="descripcion">
      <h3>Elena Ramírez</h3>
      <h4>Instructora de Zumba</h4>
      <p>Energía, ritmo y diversión para alcanzar tus objetivos de fitness.</p>
    </div>

    <div class="contacto">
      <a href="#">Contacto</a>
    </div>
  </div>
</div>