<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Horario de Eventos Especiales en el Gimnasio</title>

    <!-- Bootstrap -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../public/css/event/linea_event.css" />
  </head>
  <body>
    <!-- Comienza el Horario -->
    <section id="mu-horario">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-area-horario">
              <div class="mu-area-titulo">
                <h2 class="mu-titulo">Horario de Eventos Especiales</h2>
                <p>
                  ¡Descubre nuestras charlas exclusivas con expertos del
                  deporte!
                </p>
              </div>

              <div class="mu-area-contenido-horario">
                <!-- Pestañas de navegación -->
                <ul class="nav nav-tabs mu-menu-horario" role="tablist">
                  <li role="presentation" class="active">
                    <a
                      href="#cultura-fisica"
                      aria-controls="cultura-fisica"
                      role="tab"
                      data-toggle="tab"
                      >Lunes, 27 de Mayo</a
                    >
                  </li>
                  <li role="presentation">
                    <a
                      href="#deporte"
                      aria-controls="deporte"
                      role="tab"
                      data-toggle="tab"
                      >Martes, 11 de Junio</a
                    >
                  </li>
                </ul>

                <!-- Paneles de pestañas -->
                <div class="tab-content mu-contenido-horario">
                  <div
                    role="tabpanel"
                    class="tab-pane fade mu-linea-evento in active"
                    id="cultura-fisica"
                  >
                    <ul>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">10.00 AM - 11.00 AM</p>
                          <h3>Charla con Culturistas Expertos</h3>
                          <span
                            >Conoce los secretos del entrenamiento de fuerza con
                            Arnold Schwarzenegger y Ronnie Coleman</span
                          >
                        </div>
                      </li>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">11.00 AM - 12.00 PM</p>
                          <h3>Conversación con Nutricionistas</h3>
                          <span
                            >Descubre cómo alimentarte adecuadamente para tus
                            objetivos con Lisa Johnson y John Smith</span
                          >
                        </div>
                      </li>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">12.00 PM - 1.00 PM</p>
                          <h3>Presentación de Suplementos</h3>
                          <span
                            >Aprende sobre los suplementos más efectivos para tu
                            entrenamiento con Jessica Thompson y Mark
                            Davis</span
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div
                    role="tabpanel"
                    class="tab-pane fade mu-linea-evento"
                    id="deporte"
                  >
                    <ul>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">10.00 AM - 11.00 AM</p>
                          <h3>Charla con un Ciclista Profesional</h3>
                          <span
                            >Descubre los secretos para mejorar tu rendimiento
                            en bicicleta con Chris Johnson</span
                          >
                        </div>
                      </li>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">11.00 AM - 12.00 PM</p>
                          <h3>Conversación con un Tenista Profesional</h3>
                          <span
                            >Consejos para perfeccionar tu técnica de tenis con
                            Maria Sanchez</span
                          >
                        </div>
                      </li>
                      <li>
                        <div class="mu-evento-individual">
                          <p class="mu-hora-evento">12.00 PM - 1.00 PM</p>
                          <h3>Diálogo con un Jugador de Pádel Profesional</h3>
                          <span
                            >Aprende estrategias para dominar el juego de pádel
                            con Juan Martínez</span
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Fin del Horario -->

    <!-- Biblioteca de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
